<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead >
        <tr>
            <th>#</th>
            <th>백신 이름</th>
            <th>접종 시작일</th>
            <th>접종 완료일</th>
            <th></th>
            <th></th>
        </tr>
        </thead>


        <tbody>
        <tr th:each="vaccines : ${vaccines}">
            <td th:text="${vaccines.id}"></td>
            <td th:text="${vaccines.title}"></td>
            <td th:text="${vaccines.startVaccine}"></td>
            <td th:text="${vaccines.endVaccine}"></td>
            <td>
                <a href="#"  th:href="@{/vaccine/{id}/edit (id=${vaccines.id})}"
                   class="btn btn-primary" role="button">수정</a>
            </td>
            <td>
                <a href="#"  th:href="@{/vaccine/{id}/delete (id=${vaccines.id})}"
                   class="btn btn-danger" role="button">삭제</a>
            </td>


        </tr>
        </tbody>
    </table>

</div>

</body>
</html>