<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Our Kids</h1>
        <div>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-dark btn-lg" type="submit">로그아웃</button>
            </form>
        </div>
        <p class="lead">회원 기능 테스트</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="">회원 목록</a>
        </p>
        <p class="lead">혜택 게시판 관리</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/post/add">게시판 입력</a>
            <a class="btn btn-lg btn-dark" href="/post/list">게시판 목록</a>
        </p>
        <p class="lead">예방 백신 관리</p>
        <p>
            <a class="btn btn-lg btn-info" href="/vaccine/add">백신 입력</a>
            <a class="btn btn-lg btn-info" href="/vaccine/list">백신 종류</a>
        </p>
    </div>

</div>

</body>
</html>